In [1]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('/Users/akarberkin/Downloads/nbnl_solar_installations/TTS_LBNL_public_file_07-Sep-2022_all.csv')

<ipython-input-38-a56c1c04e80e>:1: DtypeWarning: Columns (1,2,3,14,15,17,19,27,28,30,31,33,34,37,38,39,52,53,55,56,58,59,73,74,75) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/akarberkin/Downloads/nbnl_solar_installations/TTS_LBNL_public_file_07-Sep-2022_all.csv')

In [39]:
pd.set_option('display.max_columns', None)

In [40]:
df

,data_provider_1,data_provider_2,system_ID_1,system_ID_2,installation_date,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,multiple_phase_system,new_construction,tracking,ground_mounted,zip_code,city,state,utility_service_territory,third_party_owned,installer_name,self_installed,azimuth_1,azimuth_2,azimuth_3,tilt_1,tilt_2,tilt_3,module_manufacturer_1,module_model_1,module_quantity_1,module_manufacturer_2,module_model_2,module_quantity_2,module_manufacturer_3,module_model_3,module_quantity_3,additional_modules,technology_module_1,technology_module_2,technology_module_3,BIPV_module_1,BIPV_module_2,BIPV_module_3,bifacial_module_1,bifacial_module_2,bifacial_module_3,nameplate_capacity_module_1,nameplate_capacity_module_2,nameplate_capacity_module_3,efficiency_module_1,efficiency_module_2,efficiency_module_3,inverter_manufacturer_1,inverter_model_1,inverter_quantity_1,inverter_manufacturer_2,inverter_model_2,inverter_quantity_2,inverter_manufacturer_3,inverter_model_3,inverter_quantity_3,additional_inverters,micro_inverter_1,micro_inverter_2,micro_inverter_3,built_in_meter_inverter_1,built_in_meter_inverter_2,built_in_meter_inverter_3,output_capacity_inverter_1,output_capacity_inverter_2,output_capacity_inverter_3,DC_optimizer,inverter_loading_ratio,dateOfBatteryInstall,battery_manufacturer,battery_model,battery_rated_capacity_kW,battery_rated_capacity_kWh
0,Massachusetts Clean Energy Center,Massachusetts Department of Energy Resources,GBI-JH4-00002,-1,26-Sep-2003,26.4,224000.00,241308.00,COM,0,0,-1,0,-1,2540,Falmouth,MA,NSTAR DBA EverSource,-1,Northern Pacific Power,0,170.0,-1.0,-1.0,8.0,-1,-1,-1,-1,88,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,SMA America,SWR 2500U,11.0,-1,-1,-1,-1,-1,-1,0,0,-1,-1,1,-1,-1,2.5,-1.0,-1.0,0,0.96,-1,-1,-1,-1.0,-1.0
1,Massachusetts Clean Energy Center,Massachusetts Department of Energy Resources,CPV-LG8-00003,-1,17-Apr-2003,2.2,16621.00,9256.50,RES,0,0,-1,0,-1,2132,Boston,MA,NSTAR DBA EverSource,-1,Zapotec Energy,0,225.0,-1.0,-1.0,20.0,-1,-1,-1,-1,22,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,SMA America,SWR 2500U,1.0,-1,-1,-1,-1,-1,-1,0,0,-1,-1,1,-1,-1,2.5,-1.0,-1.0,0,0.88,-1,-1,-1,-1.0,-1.0
2,Massachusetts Clean Energy Center,Massachusetts Department of Energy Resources,CPV-LG8-00004,-1,05-May-2003,2.2,16621.00,9256.50,RES,0,0,-1,0,-1,2458,Newton,MA,NSTAR DBA EverSource,-1,Zapotec Energy,0,180.0,-1.0,-1.0,20.0,-1,-1,-1,-1,22,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,SMA America,SWR 2500U,1.0,-1,-1,-1,-1,-1,-1,0,0,-1,-1,1,-1,-1,2.5,-1.0,-1.0,0,0.88,-1,-1,-1,-1.0,-1.0
3,Massachusetts Clean Energy Center,Massachusetts Department of Energy Resources,CPV-LG8-00005,-1,25-Jun-2003,2.2,16621.00,9256.50,RES,0,0,-1,0,-1,2459,Newton,MA,NSTAR DBA EverSource,-1,Zapotec Energy,0,165.0,-1.0,-1.0,30.0,-1,-1,-1,-1,22,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,SMA America,SWR 2500U,1.0,-1,-1,-1,-1,-1,-1,0,0,-1,-1,1,-1,-1,2.5,-1.0,-1.0,0,0.88,-1,-1,-1,-1.0,-1.0
4,Massachusetts Clean Energy Center,Massachusetts Department of Energy Resources,CPV-LG8-00006,-1,05-May-2003,2.1,16006.95,8835.75,RES,0,1,-1,0,-1,2464,Newton,MA,NSTAR DBA EverSource,-1,Zapotec Energy,0,178.0,-1.0,-1.0,25.0,-1,-1,-1,-1,21,-1,-1,-1,-1,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,SMA America,SWR 2500U,1.0,-1,-1,-1,-1,-1,-1,0,0,-1,-1,1,-1,-1,2.5,-1.0,-1.0,0,0.84,-1,-1,-1,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2362532,Austin Energy,-1,31,-1,01-May-2009,2.8,33586.15,16889.03,SCHOOL,0,0,-1,0,1,-1,-1,TX,Austin Energy,-1,-1,0,180.0,-1.0,-1.0,30.0,-1,-1,-1,-1,16,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,Enphase Energy,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,0,-1.00,-1,-1,-1,-1.0,-1.0
2362533,Austin Energy,-1,23,-1,01-Jan-2010,2.8,33434.71,16667.00,SCHOOL,0,0,-1,0,1,-1,-1,TX,Austin Energy,-1,-1,0,180.0,-1.0,-1.0,30.0,-1,-1,-1,-1,16,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,Enphase Energy,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,0,-1.00,-1,-1,-1,-1.0,-1.0
2362534,Austin Energy,-1,24,-1,01-Apr-2010,2.8,33536.87,16667.00,SCHOOL,0,0,-1,0,1,-1,-1,TX,Austin Energy,-1,-1,0,180.0,-1.0,-1.0,30.0,-1,-1,-1,-1,16,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,Enphase Energy,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,0,-1.00,-1,-1,-1,-1.0,-1.0
2362535,Austin Energy,-1,25,-1,01-Aug-2010,2.8,33045.24,16667.00,SCHOOL,0,0,-1,0,1,-1,-1,TX,Austin Energy,-1,-1,0,180.0,-1.0,-1.0,30.0,-1,-1,-1,-1,16,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,Enphase Energy,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,0,-1.00,-1,-1,-1,-1.0,-1.0
2362536,Austin Energy,-1,26,-1,01-Nov-2010,2.8,33365.32,16667.00,SCHOOL,0,0,-1,0,1,-1,-1,TX,Austin Energy,-1,-1,0,180.0,-1.0,-1.0,30.0,-1,-1,-1,-1,16,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,Enphase Energy,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,0,-1.00,-1,-1,-1,-1.0,-1.0

In [41]:
df_ny = df[df.state == 'NY']

In [42]:
df_ny

,data_provider_1,data_provider_2,system_ID_1,system_ID_2,installation_date,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,multiple_phase_system,new_construction,tracking,ground_mounted,zip_code,city,state,utility_service_territory,third_party_owned,installer_name,self_installed,azimuth_1,azimuth_2,azimuth_3,tilt_1,tilt_2,tilt_3,module_manufacturer_1,module_model_1,module_quantity_1,module_manufacturer_2,module_model_2,module_quantity_2,module_manufacturer_3,module_model_3,module_quantity_3,additional_modules,technology_module_1,technology_module_2,technology_module_3,BIPV_module_1,BIPV_module_2,BIPV_module_3,bifacial_module_1,bifacial_module_2,bifacial_module_3,nameplate_capacity_module_1,nameplate_capacity_module_2,nameplate_capacity_module_3,efficiency_module_1,efficiency_module_2,efficiency_module_3,inverter_manufacturer_1,inverter_model_1,inverter_quantity_1,inverter_manufacturer_2,inverter_model_2,inverter_quantity_2,inverter_manufacturer_3,inverter_model_3,inverter_quantity_3,additional_inverters,micro_inverter_1,micro_inverter_2,micro_inverter_3,built_in_meter_inverter_1,built_in_meter_inverter_2,built_in_meter_inverter_3,output_capacity_inverter_1,output_capacity_inverter_2,output_capacity_inverter_3,DC_optimizer,inverter_loading_ratio,dateOfBatteryInstall,battery_manufacturer,battery_model,battery_rated_capacity_kW,battery_rated_capacity_kWh
633276,New York State Energy Research and Development...,-1,2478,-1,31-Jul-2012,25.38,-1.00,-1.0,NON-RES,0,0,-1,-1,-1,10502,Ardsley,NY,Consolidated Edison,-1,-1,0,-1.0,-1.0,-1.0,-1.0,-1,-1,-1,-1,108,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.000000,-1.0,-1.0,Schuco USA,SB8000US [240V],3.0,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,1,-1,-1,7.600,-1.0,-1.0,0,1.113158,-1,-1,-1,-1.0,-1.0
633277,New York State Energy Research and Development...,-1,2011-160910-SLPR,-1,08-Nov-2010,5.25,34250.00,17125.0,RES,0,0,-1,-1,-1,11735,Farmingdale,NY,Long Island Power Authority,0,-1,0,-1.0,-1.0,-1.0,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.000000,-1.0,-1.0,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.000,-1.0,-1.0,-1,-1.000000,-1,-1,-1,-1.0,-1.0
633278,New York State Energy Research and Development...,-1,366798,-1,NaT,8.40,34710.90,-1.0,RES,0,0,-1,-1,-1,11710,Bellmore,NY,Long Island Power Authority,0,-1,0,-1.0,-1.0,-1.0,-1.0,-1,-1,Hanwha Q CELLS,Q.PEAK DUO BLK ML-G10 400,21,-1,-1,-1,-1,-1,-1,-1,Monocrystalline,-1,-1,0,-1,-1,0,-1,-1,400.0,-1.0,-1.0,0.208333,-1.0,-1.0,Enphase Energy Inc.,IQ7PLUS-72-2-US [240V],21.0,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,0,-1,-1,0.290,-1.0,-1.0,0,1.379310,-1,-1,-1,-1.0,-1.0
633279,New York State Energy Research and Development...,-1,2011-158035-SLPR,-1,03-Sep-2008,3.89,31808.00,14580.0,RES,0,0,-1,-1,-1,11768,Northport,NY,Long Island Power Authority,0,-1,0,-1.0,-1.0,-1.0,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.000000,-1.0,-1.0,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.000,-1.0,-1.0,-1,-1.000000,-1,-1,-1,-1.0,-1.0
633280,New York State Energy Research and Development...,-1,2011-188918-SLPR,-1,27-Dec-2004,3.00,15566.20,15000.0,NON-RES,0,0,-1,-1,-1,11713,Bellport,NY,Long Island Power Authority,0,-1,0,-1.0,-1.0,-1.0,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.000000,-1.0,-1.0,-1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.000,-1.0,-1.0,-1,-1.000000,-1,-1,-1,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
759796,New York State Energy Research and Development...,-1,14964,-1,11-Mar-2015,29.90,128341.20,25000.0,RES,0,0,-1,-1,-1,10510,Briarcliff Manor,NY,Consolidated Edison,0,Sunrise Solar Solutions LLC,0,-1.0,-1.0,-1.0,-1.0,-1,-1,Changzhou Almaden,Conergy PE 260P,115,-1,-1,-1,-1,-1,-1,-1,Multi-c-Si,-1,-1,0,-1,-1,0,-1,-1,260.0,-1.0,-1.0,0.159007,-1.0,-1.0,Enphase Energy,M215-60-2LL-S2x-NA [240V],115.0,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,0,-1,-1,0.215,-1.0,-1.0,0,1.209302,-1,-1,-1,-1.0,-1.0
759797,New York State Energy Research and Development...,-1,189437,-1,04-Jan-2022,444.96,1341984.48,266976.0,NON-RES,0,0,-1,-1,-1,10314,Staten Island,NY,Consolidated Edison,1,Green Street Power Partners LLC,0,-1.0,-1.0,-1.0,-1.0,-1,-1,SunPower,SPR-X22-360-COM,1236,-1,-1,-1,-1,-1,-1,-1,Monocrystalline,-1,-1,0,-1,-1,0,-1,-1,360.0,-1.0,-1.0,0.220762,-1.0,-1.0,Yaskawa Solectria Solar,PVI 50TL-480 [480V],8.0,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,1,-1,-1,50.000,-1.0,-1.0,0,1.112400,-1,-1,-1,-1.0,-1.0
759798,New York State Energy Research and Development...,-1,2013-536904-Sola,-1,20-Mar-2014,145.20,607000.00,225000.0,GOV,0,0,-1,-1,-1,11717,Brentwood,NY,Long Island Power Authority,0,"Sunation Solar Systems, Inc.",0,-1.0,-1.0,-1.0,-1.0,-1,-1,-1,-1,484,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0,-1.0,-1.000000,-1.0,-1.0,-1,-1,2.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.000,-1.0,-1.0,-1,-1.000000,-1,-1,-1,-1.0,-1.0
759799,New York State Energy Research and Development...,-1,14858,-1,17-Nov-2014,34.10,158565.00,34100.0,NON-RES,0,0,-1,-1,-1,12033,Castleton,NY,National Grid,0,SunCommon,0,-1.0,-1.0,-1.0,-1.0,-1,-1,LG Electronics Inc.,LG275S1C-B3,124,-1,-1,-1,-1,-1,-1,-1,Monocrystalline,-1,-1,0,-1,-1,0,-1,-1,275.0,-1.0,-1.0,0.173217,-1.0,-1.0,SMA America,-1,4.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1.000,-1.0,-1.0,0,-1.000000,-1,-1,-1,-1.0,-1.0
759800,New York State Energy Research and Development...,-1,293909,-1,NaT,283.80,688945.27,85140.0,NON-RES,0,0,-1,-1,-1,10567,Yorktown,NY,Consolidated Edison,1,Ecogy Energy,0,-1.0,-1.0,-1.0,-1.0,-1,-1,Hanwha Q CELLS,Q.PEAK DUO L-G8.2 430,660,-1,-1,-1,-1,-1,-1,-1,Monocrystalline,-1,-1,0,-1,-1,0,-1,-1,430.0,-1.0,-1.0,0.206235,-1.0,-1.0,SolarEdge Technologies Ltd.,SE43.2KUS [208V],6.0,-1,-1,-1,-1,-1,-1,-1,0,-1,-1,1,-1,-1,14.510,-1.0,-1.0,1,-1.000000,-1,-1,-1,-1.0,-1.0

In [43]:
df_ny = df_ny[['installation_date','total_installed_price','system_size_DC', 'rebate_or_grant', 'customer_segment', 'zip_code']]

In [44]:
df_ny = df_ny[df_ny.rebate_or_grant != -1.0]

In [45]:
df_ny = df_ny[df_ny.total_installed_price != -1.0]

In [46]:
df_ny['grant_perc_of_all_project'] = df_ny['rebate_or_grant']/df_ny['total_installed_price']
df_ny

,installation_date,total_installed_price,system_size_DC,rebate_or_grant,customer_segment,zip_code,grant_perc_of_all_project
633277,08-Nov-2010,34250.00,5.25,17125.0,RES,11735,0.500000
633279,03-Sep-2008,31808.00,3.89,14580.0,RES,11768,0.458375
633280,27-Dec-2004,15566.20,3.00,15000.0,NON-RES,11713,0.963626
633281,22-Jun-2010,25760.00,3.22,11270.0,RES,11952,0.437500
633283,11-Oct-2012,31280.00,4.60,8050.0,RES,11932,0.257353
...,...,...,...,...,...,...,...
759796,11-Mar-2015,128341.20,29.90,25000.0,RES,10510,0.194793
759797,04-Jan-2022,1341984.48,444.96,266976.0,NON-RES,10314,0.198941
759798,20-Mar-2014,607000.00,145.20,225000.0,GOV,11717,0.370675
759799,17-Nov-2014,158565.00,34.10,34100.0,NON-RES,12033,0.215054
759800,NaT,688945.27,283.80,85140.0,NON-RES,10567,0.123580

In [47]:
df_ny[df_ny.zip_code == 501]

,installation_date,total_installed_price,system_size_DC,rebate_or_grant,customer_segment,zip_code,grant_perc_of_all_project
643299,21-Dec-2015,21420.00,4.20,840.0,RES,501,0.039216
653220,26-Sep-2016,37543.91,7.70,1047.0,RES,501,0.027887
656875,11-Dec-2015,42840.00,8.40,1243.0,RES,501,0.029015
663739,07-Dec-2015,67320.00,13.20,1683.0,RES,501,0.025000
671983,23-Mar-2016,55080.00,10.80,1706.0,RES,501,0.030973
675225,26-Aug-2016,54230.09,11.12,2223.0,RES,501,0.040992
684606,16-Oct-2016,65354.21,13.40,2090.0,RES,501,0.031980
685245,19-Jun-2015,28500.00,9.35,1851.0,RES,501,0.064947
697816,14-Mar-2016,32400.00,8.40,2520.0,RES,501,0.077778
703678,10-May-2017,79039.00,16.20,3240.0,RES,501,0.040992
713408,05-Feb-2015,51816.50,10.39,4154.0,RES,501,0.080168
752769,09-Dec-2015,659000.00,265.53,87000.0,NON-RES,501,0.132018

In [48]:
df_ny = df_ny[df_ny.zip_code != 501]

In [51]:
averages = df_ny.groupby('zip_code')[['rebate_or_grant', 'grant_perc_of_all_project']].mean()

In [52]:
count = df_ny.groupby('zip_code')[['rebate_or_grant']].count()

In [53]:
merged = pd.merge(averages,count, on='zip_code', how='inner')

In [55]:
merged.rename(columns={'rebate_or_grant_x': 'Average Rebate or Grant',
                      'grant_perc_of_all_project': 'Percentage of the cost of project covered by grant',
                      'rebate_or_grant_y' : 'Count'}, inplace = True)

In [113]:
df_census = pd.read_csv('/Users/akarberkin/Downloads/ACSST5Y2021.S1901_2023-09-26T150758/ACSST5Y2021.S1901-Data.csv')

In [114]:
df_census

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C01_001MA,S1901_C01_001EA,S1901_C01_002E,S1901_C01_002M,S1901_C01_002MA,S1901_C01_002EA,S1901_C01_003E,S1901_C01_003M,S1901_C01_003MA,S1901_C01_003EA,S1901_C01_004E,S1901_C01_004M,S1901_C01_004MA,S1901_C01_004EA,S1901_C01_005E,S1901_C01_005EA,S1901_C01_005M,S1901_C01_005MA,S1901_C01_006E,S1901_C01_006M,S1901_C01_006MA,S1901_C01_006EA,S1901_C01_007E,S1901_C01_007M,S1901_C01_007MA,S1901_C01_007EA,S1901_C01_008E,S1901_C01_008M,S1901_C01_008MA,S1901_C01_008EA,S1901_C01_009E,S1901_C01_009EA,S1901_C01_009M,S1901_C01_009MA,S1901_C01_010E,S1901_C01_010EA,S1901_C01_010M,S1901_C01_010MA,S1901_C01_011E,S1901_C01_011EA,S1901_C01_011M,S1901_C01_011MA,S1901_C01_012E,S1901_C01_012EA,S1901_C01_012M,S1901_C01_012MA,S1901_C01_013E,S1901_C01_013EA,S1901_C01_013M,S1901_C01_013MA,S1901_C01_014E,S1901_C01_014EA,S1901_C01_014M,S1901_C01_014MA,S1901_C01_015E,S1901_C01_015EA,S1901_C01_015M,S1901_C01_015MA,S1901_C01_016E,S1901_C01_016EA,S1901_C01_016M,S1901_C01_016MA,S1901_C02_001E,S1901_C02_001M,S1901_C02_001MA,S1901_C02_001EA,S1901_C02_002E,S1901_C02_002M,S1901_C02_002MA,S1901_C02_002EA,S1901_C02_003E,S1901_C02_003EA,S1901_C02_003M,S1901_C02_003MA,S1901_C02_004E,S1901_C02_004EA,S1901_C02_004M,S1901_C02_004MA,S1901_C02_005E,S1901_C02_005EA,S1901_C02_005M,S1901_C02_005MA,S1901_C02_006E,S1901_C02_006EA,S1901_C02_006M,S1901_C02_006MA,S1901_C02_007E,S1901_C02_007EA,S1901_C02_007M,S1901_C02_007MA,S1901_C02_008E,S1901_C02_008M,S1901_C02_008MA,S1901_C02_008EA,S1901_C02_009E,S1901_C02_009M,S1901_C02_009MA,S1901_C02_009EA,S1901_C02_010E,S1901_C02_010EA,S1901_C02_010M,S1901_C02_010MA,S1901_C02_011E,S1901_C02_011M,S1901_C02_011MA,S1901_C02_011EA,S1901_C02_012E,S1901_C02_012M,S1901_C02_012MA,S1901_C02_012EA,S1901_C02_013E,S1901_C02_013EA,S1901_C02_013M,S1901_C02_013MA,S1901_C02_014E,S1901_C02_014EA,S1901_C02_014M,S1901_C02_014MA,S1901_C02_015E,S1901_C02_015EA,S1901_C02_015M,S1901_C02_015MA,S1901_C02_016E,S1901_C02_016EA,S1901_C02_016M,S1901_C02_016MA,S1901_C03_001E,S1901_C03_001EA,S1901_C03_001M,S1901_C03_001MA,S1901_C03_002E,S1901_C03_002M,S1901_C03_002MA,S1901_C03_002EA,S1901_C03_003E,S1901_C03_003EA,S1901_C03_003M,S1901_C03_003MA,S1901_C03_004E,S1901_C03_004M,S1901_C03_004MA,S1901_C03_004EA,S1901_C03_005E,S1901_C03_005M,S1901_C03_005MA,S1901_C03_005EA,S1901_C03_006E,S1901_C03_006EA,S1901_C03_006M,S1901_C03_006MA,S1901_C03_007E,S1901_C03_007EA,S1901_C03_007M,S1901_C03_007MA,S1901_C03_008E,S1901_C03_008M,S1901_C03_008MA,S1901_C03_008EA,S1901_C03_009E,S1901_C03_009M,S1901_C03_009MA,S1901_C03_009EA,S1901_C03_010E,S1901_C03_010M,S1901_C03_010MA,S1901_C03_010EA,S1901_C03_011E,S1901_C03_011EA,S1901_C03_011M,S1901_C03_011MA,S1901_C03_012E,S1901_C03_012M,S1901_C03_012MA,S1901_C03_012EA,S1901_C03_013E,S1901_C03_013M,S1901_C03_013MA,S1901_C03_013EA,S1901_C03_014E,S1901_C03_014EA,S1901_C03_014M,S1901_C03_014MA,S1901_C03_015E,S1901_C03_015M,S1901_C03_015MA,S1901_C03_015EA,S1901_C03_016E,S1901_C03_016M,S1901_C03_016MA,S1901_C03_016EA,S1901_C04_001E,S1901_C04_001EA,S1901_C04_001M,S1901_C04_001MA,S1901_C04_002E,S1901_C04_002EA,S1901_C04_002M,S1901_C04_002MA,S1901_C04_003E,S1901_C04_003EA,S1901_C04_003M,S1901_C04_003MA,S1901_C04_004E,S1901_C04_004EA,S1901_C04_004M,S1901_C04_004MA,S1901_C04_005E,S1901_C04_005EA,S1901_C04_005M,S1901_C04_005MA,S1901_C04_006E,S1901_C04_006M,S1901_C04_006MA,S1901_C04_006EA,S1901_C04_007E,S1901_C04_007EA,S1901_C04_007M,S1901_C04_007MA,S1901_C04_008E,S1901_C04_008M,S1901_C04_008MA,S1901_C04_008EA,S1901_C04_009E,S1901_C04_009M,S1901_C04_009MA,S1901_C04_009EA,S1901_C04_010E,S1901_C04_010EA,S1901_C04_010M,S1901_C04_010MA,S1901_C04_011E,S1901_C04_011M,S1901_C04_011MA,S1901_C04_011EA,S1901_C04_012E,S1901_C04_012M,S1901_C04_012MA,S1901_C04_012EA,S1901_C04_013E,S1901_C04_013EA,S1901_C04_013M,S1901_C04_013MA,S1901_C04_014E,S1901_C04_014M,S1901_C04_014MA,S1901_C04_014EA,S1901_C04_015E,S1901_C04_015M,S1901_C04_015MA,S1901_C04_015EA,S1901_C04_016E,S1901_C04_016EA,S1901_C04_016M,S1901_C04_016MA,Unnamed: 258
0,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,Annotation of Margin of Error!!Households!!Total,Annotation of Estimate!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000",Margin of Error!!Households!!Total!!Less than ...,Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!Les...,"Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to...",Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!$10...,"Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to...",Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!$15...,"Estimate!!Households!!Total!!$25,000 to $34,999",Annotation of Estimate!!Households!!Total!!$25...,"Margin of Error!!Households!!Total!!$25,000 to...",Annotation of Margin of Error!!Households!!Tot...,"Estimate!!Households!!Total!!$35,000 to $49,999","Margin of Error!!Households!!Total!!$35,000 to...",Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!$35...,"Estimate!!Households!!Total!!$50,000 to $74,999","Margin of Error!!Households!!Total!!$50,000 to...",Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!$50...,"Estimate!!Households!!Total!!$75,000 to $99,999","Margin of Error!!Households!!Total!!$75,000 to...",Annotation of Margin of Error!!Households!!Tot...,Annotation of Estimate!!Households!!Total!!$75...,"Estimate!!Households!!Total!!$100,000 to $149,999",Annotation of Estimate!!Households!!Total!!$10...,"Margin of Error!!Households!!Total!!$100,000 t...",Annotation of Margin of Error!!Households!!Tot...,"Estimate!!Households!!Total!!$150,000 to $199,999",Annotation of Estimate!!Households!!Total!!$15...,"Margin of Error!!Households!!Total!!$150,000 t...",Annotation of Margin of Error!!Households!!Tot...,"Estimate!!Households!!Total!!$200,000 or more",Annotation of Estimate!!Households!!Total!!$20...,"Margin of Error!!Households!!Total!!$200,000 o...",Annotation of Margin of Error!!Households!!Tot...,Estimate!!Households!!Median income (dollars),Annotation of Estimate!!Households!!Median inc...,Margin of Error!!Households!!Median income (do...,Annotation of Margin of Error!!Households!!Med...,Estimate!!Households!!Mean income (dollars),Annotation of Estimate!!Households!!Mean incom...,Margin of Error!!Households!!Mean income (doll...,Annotation of Margin of Error!!Households!!Mea...,Estimate!!Households!!PERCENT ALLOCATED!!House...,Annotation of Estimate!!Households!!PERCENT AL...,Margin of Error!!Households!!PERCENT ALLOCATED...,Annotation of Margin of Error!!Households!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Famil...,Annotation of Estimate!!Households!!PERCENT AL...,Margin of Error!!Households!!PERCENT ALLOCATED...,Annotation of Margin of Error!!Households!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Annotation of Estimate!!Households!!PERCENT AL...,Margin of Error!!Households!!PERCENT ALLOCATED...,Annotation of Margin of Error!!Households!!PER...,Estimate!!Families!!Total,Margin of Error!!Families!!Total,Annotation of Margin of Error!!Families!!Total,Annotation of Estimate!!Families!!Total,"Estimate!!Families!!Total!!Less than $10,000",Margin of Error!!Families!!Total!!Less than $1...,Annotation of Margin of Error!!Families!!Total...,Annotation of Estimate!!Families!!Total!!Less ...,"Estimate!!Families!!Total!!$10,000 to $14,999","Annotation of Estimate!!Families!!Total!!$10,0...","Margin of Error!!Families!!Total!!$10,000 to $...",Annotation of Margin of Error!!Families!!Total...,"Estimate!!Families!!Total!!$15,000 to $24,999","Annotation of Estimate!!Families!!Total!!$15,0...","Margin of Error!!Families!!Total!!$15,000 to $...",Annotation of Margin of Error!!Families!!Total...,"Estimate!!Families!!Total!!$25,000 to $34,999","Annotation of Estimate!!Families!!Total!!$25,0...","Margin of Error!!Families!!Total!!$25,000 to $...",Annotation of Margin of Error!!Families!!Total...,"Estimate!!Families!!Total!!$35,000 to $49,999","Annotation of Estimate!!Families!!Total!!$35,0...","Margin of Error!!Families!!Total!!$35,000 to $...",Annotation of Margin of Error!!Families!!Total...,"Estimate!!Families!!Total!!$50,000 to $74,999","Annotation of Estimate!!Families!!Total!!$50,0...","Margin of Error!!Families!!Total!!$50,000 to $...",Annotation of Margin of Error!!Families!!Total...,"Estimate!!Families!!Total!!$75,000 to $99,999","Margin of Error!!Families!!Total!!$75,000 to $...",Annotation of Margin of Error!!Families!!Total...,"Annotation of Estimate!!Families!!Total!!$75,0...","Estimate!!Families!!Total!!$100,000 to $149,999","Margin of Error!!Families!!Total!!$100,000 to ...",Annotation of Margin of Error!!Families!!Total...,"Annotation of Estimate!!Families!!Total!!$100,...","Estimate!!Families!!Total!!$150,000 to $199,999","Annotation of Estimate!!Families!!Total!!$150,...","Margin of Error!!Families!!Total!!$150,000 to ...",Annotation of Margin of Error!!Families!!Total...,"Estimate!!Families!!Total!!$200,000 or more","Margin of Error!!Families!!Total!!$200,000 or ...",Annotation of Margin of Error!!Families!!Total...,"Annotation of Estimate!!Families!!Total!!$200,...",Estimate!!Families!!Median income (dollars),Margin of Error!!Families!!Median income (doll...,Annotation of Margin of Error!!Families!!Media...,Annotation of Estimate!!Families!!Median incom...,Estimate!!Families!!Mean income (dollars),Annotation of Estimate!!Families!!Mean income ...,Margin of Error!!Families!!Mean income (dollars),Annotation of Margin of Error!!Families!!Mean ...,Estimate!!Families!!PERCENT ALLOCATED!!Househo...,Annotation of Estimate!!Families!!PERCENT ALLO...,Margin of Error!!Families!!PERCENT ALLOCATED!!...,Annotation of Margin of Error!!Families!!PERCE...,Estimate!!Families!!PERCENT ALLOCATED!!Family ...,Annotation of Estimate!!Families!!PERCENT ALLO...,Margin of Error!!Families!!PERCENT ALLOCATED!!...,Annotation of Margin of Error!!Families!!PERCE...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Annotation of Estimate!!Families!!PERCENT ALLO...,Margin of Error!!Families!!PERCENT ALLOCATED!!...,Annotation of Margin of Error!!Families!!PERCE...,Estimate!!Married-couple families!!Total,Annotation of Estimate!!Married-couple familie...,Margin of Error!!Married-couple families!!Total,Annotation of Margin of Error!!Married-couple ...,Estimate!!Married-couple families!!Total!!Less...,Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,"Estimate!!Married-couple families!!Total!!$10,...",Annotation of Estimate!!Married-couple familie...,Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,"Estimate!!Married-couple families!!Total!!$15,...",Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,"Estimate!!Married-couple families!!Total!!$25,...",Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,"Estimate!!Married-couple families!!Total!!$35,...",Annotation of Estimate!!Married-couple familie...,Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,"Estimate!!Married-couple families!!Total!!$50,...",Annotation of Estimate!!Married-couple familie...,Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,"Estimate!!Married-couple families!!Total!!$75,...",Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,Estimate!!Married-couple families!!Total!!$100...,Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,Estimate!!Married-couple families!!Total!!$150...,Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,Estimate!!Married-couple families!!Total!!$200...,Annotation of Estimate!!Married-couple familie...,Margin of Error!!Married-couple families!!Tota...,Annotation of Margin of Error!!Married-couple ...,Estimate!!Married-couple families!!Median inco...,Margin of Error!!Married-couple families!!Medi...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,Estimate!!Married-couple families!!Mean income...,Margin of Error!!Married-couple families!!Mean...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,Estimate!!Married-couple families!!PERCENT ALL...,Annotation of Estimate!!Married-couple familie...,Margin of Error!!Married-couple families!!PERC...,Annotation of Margin of Error!!Married-couple ...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families!!PERC...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families!!PERC...,Annotation of Margin of Error!!Married-couple ...,Annotation of Estimate!!Married-couple familie...,Estimate!!Nonfamily households!!Total,Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!Total,Annotation of Margin of Error!!Nonfamily house...,Estimate!!Nonfamily households!!Total!!Less th...,Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,"Estimate!!Nonfamily households!!Total!!$10,000...",Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,"Estimate!!Nonfamily households!!Total!!$15,000...",Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,"Estimate!!Nonfamily households!!Total!!$25,000...",Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,"Estimate!!Nonfamily households!!Total!!$35,000...",Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,"Estimate!!Nonfamily households!!Total!!$50,000...",Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,"Estimate!!Nonfamily households!!Total!!$75,000...",Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,"Estimate!!Nonfamily households!!Total!!$100,00...",Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,"Estimate!!Nonfamily households!!Total!!$150,00...",Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,"Estimate!!Nonfamily households!!Total!!$200,00...",Margin of Error!!Nonfamily households!!Total!!...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!Median income ...,Margin of Error!!Nonfamily households!!Median ...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!Mean income (d...,Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!Mean in...,Annotation of Margin of Error!!Nonfamily house...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...,Annotation of Estimate!!Nonfamily households!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Annotation of Estimate!!Nonfamily households!!...,Margin of Error!!Nonfamily households!!PERCENT...,Annotation of Margin of Error!!Nonfamily house...,NaN
1,860Z200US06390,ZCTA5 06390,22,16,NaN,NaN,0.0,67.9,NaN,NaN,0.0,67.9,NaN,NaN,0.0,67.9,NaN,NaN,31.8,NaN,38.8,NaN,36.4,37.7,NaN,NaN,18.2,27.2,NaN,NaN,0.0,67.9,NaN,NaN,13.6,NaN,19.6,NaN,0.0,NaN,67.9,NaN,0.0,NaN,67.9,NaN,46250,NaN,6648,NaN,52532,NaN,14798,NaN,45.5,NaN,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),16,14,NaN,NaN,0.0,79.6,NaN,NaN,0.0,NaN,79.6,NaN,0.0,NaN,79.6,NaN,43.8,NaN,45.8,NaN,12.5,NaN,31.5,NaN,25.0,NaN,34.9,NaN,0.0,79.6,NaN,NaN,18.8,25.8,NaN,NaN,0.0,NaN,79.6,NaN,0.0,79.6,NaN,NaN,46250,19302,NaN,NaN,55163,NaN,19745,NaN,(X),(X),(X),(X),62.5,NaN,(X),(X),(X),(X),(X),(X),16,NaN,14,NaN,0.0,79.6,NaN,NaN,0.0,NaN,79.6,NaN,0.0,79.6,NaN,NaN,43.8,45.8,NaN,NaN,12.5,NaN,31.5,NaN,25.0,NaN,34.9,NaN,0.0,79.6,NaN,NaN,18.8,25.8,NaN,NaN,0.0,79.6,NaN,NaN,0.0,NaN,79.6,NaN,46250,19302,NaN,NaN,N,N,N,N,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),6,NaN,9,NaN,0.0,NaN,100.0,NaN,0.0,NaN,100.0,NaN,0.0,NaN,100.0,NaN,0.0,NaN,100.0,NaN,100.0,100.0,NaN,NaN,0.0,NaN,100.0,NaN,0.0,100.0,NaN,NaN,0.0,100.0,NaN,NaN,0.0,NaN,100.0,NaN,0.0,100.0,NaN,NaN,-,**,**,-,N,N,N,N,(X),(X),(X),(X),(X),(X),(X),(X),0.0,NaN,(X),(X),NaN
2,860Z200US10001,ZCTA5 10001,14273,830,NaN,NaN,7.2,1.9,NaN,NaN,3.4,1.1,NaN,NaN,5.4,2.2,NaN,NaN,3.3,NaN,1.1,NaN,7.4,2.2,NaN,NaN,11.5,2.8,NaN,NaN,11.2,2.2,NaN,NaN,14.9,NaN,2.8,NaN,10.5,NaN,2.3,NaN,25.2,NaN,3.3,NaN,101409,NaN,11816,NaN,170154,NaN,17586,NaN,22.5,NaN,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),4256,524,NaN,NaN,7.3,3.8,NaN,NaN,0.0,NaN,0.9,NaN,4.5,NaN,3.9,NaN,3.3,NaN,2.2,NaN,7.5,NaN,5.2,NaN,9.8,NaN,4.7,NaN,7.8,3.1,NaN,NaN,12.1,5.2,NaN,NaN,7.9,NaN,4.0,NaN,39.8,7.4,NaN,NaN,142042,23428,NaN,NaN,258526,NaN,53596,NaN,(X),(X),(X),(X),28.1,NaN,(X),(X),(X),(X),(X),(X),2932,NaN,498,NaN,1.0,1.2,NaN,NaN,0.0,NaN,1.3,NaN,4.4,4.7,NaN,NaN,1.7,2.3,NaN,NaN,7.8,NaN,5.9,NaN,6.5,NaN,4.7,NaN,7.5,3.5,NaN,NaN,13.0,6.4,NaN,NaN,10.7,5.0,NaN,NaN,47.4,NaN,9.2,NaN,193302,56892,NaN,NaN,N,N,N,N,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),10017,NaN,822,NaN,7.3,NaN,1.9,NaN,4.8,NaN,1.5,NaN,5.8,NaN,2.7,NaN,3.4,NaN,1.3,NaN,7.4,2.4,NaN,NaN,12.2,NaN,3.8,NaN,13.0,2.9,NaN,NaN,15.7,3.2,NaN,NaN,11.4,NaN,2.9,NaN,19.0,3.3,NaN,NaN,89723,9344,NaN,NaN,131592,NaN,11695,NaN,(X),(X),(X),(X),(X),(X),(X),(X),20.1,NaN,(X),(X),NaN

In [115]:
df_census = df_census[['NAME', 'S1901_C01_001E', 'S1901_C01_012E', 'S1901_C01_013E', 'S1901_C01_002E', 'S1901_C01_003E', 'S1901_C01_004E']]
df_census.columns = df_census.iloc[0]
df_census = df_census[1:]
df_census['ZIP Code'] = df_census['Geographic Area Name'].apply(lambda x: x[-5:])
df_census.rename(columns={'ZIP Code':'zip_code'}, inplace = True)
# df_census['Percentage of household with income lower than 10k'] = df_census['S1901_C01_002E'].apply(lambda x: float(x))
# df_census['Percentage of household with income 10-15k'] = df_census['S1901_C01_003E'] .apply(lambda x: float(x))
# df_census['Percentage of household with income 15-25k'] = df_census['S1901_C01_004E'].apply(lambda x: float(x))

In [116]:
df_census.set_index('zip_code', inplace=True)

In [117]:
df_census

,Geographic Area Name,Estimate!!Households!!Total,Estimate!!Households!!Median income (dollars),Estimate!!Households!!Mean income (dollars),"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999"
zip_code,,,,,,,
06390,ZCTA5 06390,22,46250,52532,0.0,0.0,0.0
10001,ZCTA5 10001,14273,101409,170154,7.2,3.4,5.4
10002,ZCTA5 10002,34737,37093,76115,13.0,11.8,12.9
10003,ZCTA5 10003,25181,137533,222765,6.8,2.2,3.3
10004,ZCTA5 10004,2113,216017,317203,2.2,0.0,0.9
...,...,...,...,...,...,...,...
14898,ZCTA5 14898,559,48281,67776,4.5,1.1,14.3
14901,ZCTA5 14901,5440,35417,51814,15.7,8.6,11.5
14903,ZCTA5 14903,3121,61418,100790,6.4,4.0,8.3
14904,ZCTA5 14904,6132,49963,63579,10.1,6.1,7.3
14905,ZCTA5 14905,3655,74386,90476,3.2,8.8,6.6

In [126]:
df_census.rename(columns={'Estimate!!Households!!Total': 'Estimated Total Households',
                      "Estimate!!Households!!Median income (dollars)": "Estimated Median Income for a household ($)",
                      "Estimate!!Households!!Mean income (dollars)" : "Estimated Mean Income for a household($)",
                    'Estimate!!Households!!Total!!Less than $10,000' : 'Percentage of households with income less than $10K',
                    df_census.columns[-2] : 'Percentage of households with income $10-15K', 
                    df_census.columns[-1] : 'Percentage of households with income $15-25K'}, inplace = True)

In [127]:
df_census

,Geographic Area Name,Estimated Total Households,Estimated Median Income for a household ($),Estimated Mean Income for a household($),Percentage of households with income less than $10K,Percentage of households with income $10-15K,Percentage of households with income $15-25K
zip_code,,,,,,,
06390,ZCTA5 06390,22,46250,52532,0.0,0.0,0.0
10001,ZCTA5 10001,14273,101409,170154,7.2,3.4,5.4
10002,ZCTA5 10002,34737,37093,76115,13.0,11.8,12.9
10003,ZCTA5 10003,25181,137533,222765,6.8,2.2,3.3
10004,ZCTA5 10004,2113,216017,317203,2.2,0.0,0.9
...,...,...,...,...,...,...,...
14898,ZCTA5 14898,559,48281,67776,4.5,1.1,14.3
14901,ZCTA5 14901,5440,35417,51814,15.7,8.6,11.5
14903,ZCTA5 14903,3121,61418,100790,6.4,4.0,8.3
14904,ZCTA5 14904,6132,49963,63579,10.1,6.1,7.3
14905,ZCTA5 14905,3655,74386,90476,3.2,8.8,6.6

In [128]:
total_index = pd.concat([pd.Series(df_census.index), pd.Series(merged.index)])
df_census.index = pd.Series(df_census.index).apply(lambda x:int(x))
merged.index = pd.Series(merged.index).apply(lambda x:int(x))

In [129]:
indexes = set(merged.index).intersection(df_census.index)

In [130]:
merged_df = pd.merge(merged, df_census, on='zip_code', how = 'left')

In [131]:
merged_df.drop(columns=['Geographic Area Name'], inplace=True)

In [132]:
merged_df

,Average Rebate or Grant,Percentage of the cost of project covered by grant,Count,Estimated Total Households,Estimated Median Income for a household ($),Estimated Mean Income for a household($),Percentage of households with income less than $10K,Percentage of households with income $10-15K,Percentage of households with income $15-25K
zip_code,,,,,,,,,
10001,6.397750e+03,0.179310,8,14273,101409,170154,7.2,3.4,5.4
10002,2.007080e+04,0.205609,10,34737,37093,76115,13.0,11.8,12.9
10003,5.091000e+03,0.052154,4,25181,137533,222765,6.8,2.2,3.3
10009,2.706912e+04,0.191179,16,29407,77551,122290,12.4,7.5,6.5
10010,2.191456e+04,0.201013,9,16207,131635,217670,4.4,4.2,3.7
...,...,...,...,...,...,...,...,...,...
14889,2.228000e+04,0.174729,1,549,60625,71677,2.9,11.5,5.5
14891,5.276160e+05,0.210778,3,2008,52663,69137,3.2,11.1,7.2
14895,2.306304e+06,0.349129,1,3998,54385,78324,6.5,6.7,8.6
14897,2.202356e+06,0.279664,2,262,45862,60814,0.4,3.1,13.0
14903,1.236386e+05,0.267148,3,3121,61418,100790,6.4,4.0,8.3

In [143]:
merged_df = merged_df[merged_df['Percentage of households with income less than $10K']!='-']

In [144]:
merged_df['Percentage of households with income less than $10K'] = merged_df['Percentage of households with income less than $10K'].apply(lambda x: float(x))
merged_df['Percentage of households with income $10-15K'] = merged_df['Percentage of households with income $10-15K'] .apply(lambda x: float(x))
merged_df['Percentage of households with income $15-25K'] = merged_df['Percentage of households with income $15-25K'].apply(lambda x: float(x))

<ipython-input-144-a7b1dce7be7a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Percentage of households with income less than $10K'] = merged_df['Percentage of households with income less than $10K'].apply(lambda x: float(x))
<ipython-input-144-a7b1dce7be7a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Percentage of households with income $10-15K'] = merged_df['Percentage of households with income $10-15K'] .apply(lambda x: float(x))
<ipython-input-144-a7b1dce7be7a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Percentage of households with income $15-25K'] = merged_df['Percentage of households with income $15-25K'].apply(lambda x: float(x))

In [145]:
merged_df['Percentage of households with income less than $25K'] = merged_df['Percentage of households with income less than $10K'] + merged_df['Percentage of households with income $10-15K'] + merged_df['Percentage of households with income $15-25K']

<ipython-input-145-8b6b9edfd3ab>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Percentage of households with income less than $25K'] = merged_df['Percentage of households with income less than $10K'] + merged_df['Percentage of households with income $10-15K'] + merged_df['Percentage of households with income $15-25K']

In [146]:
merged_df

,Average Rebate or Grant,Percentage of the cost of project covered by grant,Count,Estimated Total Households,Estimated Median Income for a household ($),Estimated Mean Income for a household($),Percentage of households with income less than $10K,Percentage of households with income $10-15K,Percentage of households with income $15-25K,Percentage of households with income less than $25K
zip_code,,,,,,,,,,
10001,6.397750e+03,0.179310,8,14273,101409,170154,7.2,3.4,5.4,16.0
10002,2.007080e+04,0.205609,10,34737,37093,76115,13.0,11.8,12.9,37.7
10003,5.091000e+03,0.052154,4,25181,137533,222765,6.8,2.2,3.3,12.3
10009,2.706912e+04,0.191179,16,29407,77551,122290,12.4,7.5,6.5,26.4
10010,2.191456e+04,0.201013,9,16207,131635,217670,4.4,4.2,3.7,12.3
...,...,...,...,...,...,...,...,...,...,...
14889,2.228000e+04,0.174729,1,549,60625,71677,2.9,11.5,5.5,19.9
14891,5.276160e+05,0.210778,3,2008,52663,69137,3.2,11.1,7.2,21.5
14895,2.306304e+06,0.349129,1,3998,54385,78324,6.5,6.7,8.6,21.8
14897,2.202356e+06,0.279664,2,262,45862,60814,0.4,3.1,13.0,16.5
14903,1.236386e+05,0.267148,3,3121,61418,100790,6.4,4.0,8.3,18.7